.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 185px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body,
html {
	margin: 0;
	background: #0e0f11;
	color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.label {
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-between;
}

.row {
	overflow: auto;
}

.row__inner {
	transition: 450ms transform;
	font-size: 0;
	white-space: nowrap;
	margin: 70.3125px 0;
}

.tile {
	position: relative;
	display: inline-block;
  width: 316px;
  height: 316px;
	margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center left;
}

.row__inner:hover {
	transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
	opacity: 0.3;
}

.row__inner:hover .tile:hover {
	transform: scale(1.35);
	opacity: 1;
}

.tile:hover ~ .tile {
	transform: translate3d(125px, 0, 0);
}

@media screen and (max-width: 900px) {

  .tile {
    width: 80%;
    height: auto;
  }

  .row__inner:hover .tile:hover {
  	transform: scale(1);
  	opacity: 1;
  }

  .row__inner:hover, .tile:hover ~ .tile {
  	transform: translate3d(0, 0, 0);
  }

  .row__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  	transition: 450ms transform;
  	font-size: 0;
  	white-space: nowrap;
  	margin: 70.3125px 0;
  }

  .row {
    display: flex;
    flex-direction: column;
    overflow: auto
  }
}

#root {
  width: 100%;
}
