.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 185px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body,
html {
	margin: 0;
	background: #0e0f11;
	color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	width: 100%;
}

p {
  margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.label {
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-between;
}

.tile {
	display: flex;
  flex-direction: column;
	font-size: 15px;
	cursor: pointer;
  color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
}

.tile:hover {
	/*transform: scale(1.1);*/
	opacity: .3;
}

.records-column {
  display: flex;
  flex-direction: column;
  width: 316px;
}

.recentReviews-column {
  display: flex;
  flex-direction: column;
  width: 316px;
}

.records-reviews-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.review-view {
  margin-bottom: 50px;
}
